body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  /*background: url("https://www.planwallpaper.com/static/images/Cool_background_vU75hJM.jpg");*/
  background: black;
  background-size: cover;
  margin: 0;
  text-transform: capitalize;
}
header{
  background-color: rgba(0 ,0 ,0, 0.8);
  border: 3vh solid rgba(0 ,0 ,0, 0);
  box-shadow: 1px 1px 250px
}

header h1{
  margin: 10px;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

#container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
}

.pattern-container {
  background-color: rgba(0 ,0 ,0, 0.8);
  border: 10vh solid rgba(0 ,0 ,0, 0);
  box-shadow: 1px 1px 250px
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;

}
.flex-column {
  display: inline-flex;
  flex-direction: row;
  justify-content:center;
  width: 200px;
}
/*
.flex-row {
  display: inline-flex;
  justify-content: space-around;
  width: 200px;

}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content:center;
}*/

.spot-container {
  width: 20vh;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.spot {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius:25px;
/*  margin-right: 20%;
  margin-bottom: 20%;*/

  box-shadow: 2px 2px 2px 1.25px

}

.spot-inner {
  width: 25px;
  height: 25px
  border: 1px solid white;
  border: 2px solid white;
  border-radius:15px;
  margin: 5.5px;
  box-shadow: 1px 1px 1px 1px
}

.spot-inner-pointer {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border: 2px solid white;
  border-radius:15px;
  margin: 5px;
  background: white;
  opacity: 0;
}

.timer {
  color: white;
  font-size: 25px;
}

.timer-container {
  text-align: center;
}

.scorer {
  color: white;
  font-size: 25px;
}

.scorer-container {
  text-align: center;
}

.menu {
  width: 20vw ;
  height: 20vh;
  background-color: rgba(0 ,0 ,0, 0.8);
  border: 5vh solid rgba(0 ,0 ,0, 0);
  box-shadow: 1px 1px 250px
}
.players {
  width: 100%;
  height: 50%;
  padding: 5%;
}

.players input {
  width: 50%;
  margin: 5%;
}

.start {
  height: 3vh;
  background-color: rgba(0 ,0 ,0, 0.8);
  border: 2vh solid rgba(0 ,0 ,0, 0);
  cursor: pointer;
}

.notification {
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 20vw;
  padding-top: 10vh;
  height: 20vh;
  width: 99%;
  z-index: 10;
  background-color: rgba(0 ,0 ,0, 0.8);
  border: 1px solid white;

}

.notification a {
  text-align: center;
  display: block;
  margin: 2% 40%;
  border: 1px solid white;
  cursor: pointer;
}

@keyframes show-blink {
  to {
     color: blue;
     border-color: blue;
     box-shadow: 1px 1px 1px 1px blue;
  }
}

@keyframes good-blink {
  to {
     color: green;
     border-color: green;
     box-shadow: 1px 1px 1px 1px green;
  }
}

@keyframes bad-blink {
  to {
    color: red;
    border-color: red;
    box-shadow: 1px 1px 1px 1px red;
  }
}

.showing-pattern {
  color: white;
  animation: show-blink 1s steps(2, start) infinite;
}

.good-pattern {
  color: white;
  animation: good-blink 1s steps(2, start) infinite;
}

.bad-pattern {
  color: white;
  animation: bad-blink 1s steps(2, start) infinite;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
